.offers{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    height: auto;
    background-color: #fffdf9;
    margin-bottom: 15px;
}

.offers h2{
    justify-content: center;
    align-items: center;
    font-weight: 400;
}


.offers-item{
display: grid;
grid-template-columns: repeat(4, minmax(0, 1fr)); /* Elastyczne kolumny */
align-items: center;
    justify-content: center;
gap: 20px;

}

.offers-item img{
    border-radius: 5px;
    width: 100%; /* Szerokość obrazka dopasowana do kontenera */
    height: 150px; /* Wysokość obrazka */
    object-fit: cover; /* Obrazek pokrywa cały kontener bez utraty proporcji */
    margin-top: auto; /* Obrazek przyklejony do dolnej części panelu */
}

.offers-item > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border-radius: 5px; 
    background: #EFDCCE; /* Kolor tła */
    width: 200px; /* Szerokość panelu oferty */
    height: 300px; /* Wysokość panelu oferty */
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Cień dla panelu */
    overflow: hidden; /* Ukrywa nadmiar treści */
}


/* Dodatkowe style dla tytułu, opisu i ceny */
.offers-item h3 {
    font-size: 1rem;
    margin: 0;
}

.offers-item p {
    font-size: 0.8rem;
    margin: 0;
}

.offers-item .price {
    font-weight: bold;
    margin-top: auto; /* Cena przyklejona do dolnej części panelu */
}


